@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'roboto';
}

a {
    text-decoration: none;
}

.top-header {
    background-color: #1F4379;
    margin-bottom: 40px;
}
.top-header-titulo {
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    font-size: 40px;
}

.top-header-titulo:hover {
    transition: all .2s ease-in-out;
    opacity: 70%;
}

.main {
    display: grid;
    justify-content: center;
}
.titulo {
    font-family: 'Roboto';
    color: #ee7300;
    margin: 0;
}
.autor  {
    font-family: 'Roboto';
    color: #84a101;
    margin: 0;
}
p {
    font-family: 'roboto';
    font-weight: 400;
}

