@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    margin: 0;
}

table, tr, td, th{
    margin: 0 auto;
    border: solid 1px black;
    padding: 6px;
}
a {
    text-decoration: none;
}

.top-header {
    background-color: #1F4379;
    margin-bottom: 40px;
}
.top-header-titulo {
    font-family: 'roboto';
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    font-size: 40px;
    margin: 0;
}
.top-header-titulo:hover {
    transition: all .2s ease-in-out;
    opacity: 70%;
}