@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
        margin: 0;
        padding: 0;
}

a {
    text-decoration: none;
}

.top-header {
    background-color: #00C8FF;
    margin-bottom: 40px;
}
.top-header-titulo {
    font-family: 'roboto';
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    font-size: 40px;
    margin: 0;
}

.top-header-titulo:hover {
    transition: all .2s ease-in-out;
    opacity: 70%;
}

.list {
    margin-left: 10px;
}

.title {
    font-size: 30px;
}