@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

.top-header {
    background-color: #1F4379;
    margin-bottom: 40px;
}
.top-header-titulo {
    font-family: 'roboto';
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    font-size: 40px;
    margin: 0;
}

.top-header-titulo:hover {
    transition: all .2s ease-in-out;
    opacity: 70%;
}

.form {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #242020;
    width: 20%;
    position: relative;
    margin: 40px auto;
    min-width: 450px;
}
.form-titulo {
    position: absolute;
    top: -10px;
    left: 20px;
    background-color: #FFFFFF;
    
}
.form-labels {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.form-input {
    margin-left: 20px;
    width: 220px;
}
.form-input-endereco {
    margin-left: 20px;
    width: 400px;
}
.form-input-email {
    margin-left: 20px;
    width: 220px;
    margin-bottom: 20px;
}
.form-checkbox,
.form-submit {
    margin-left: 20px;
    margin-bottom: 20px;
}
